<h2>Project Edit</h2>
{{input value=name}}
{{input value=description}}
<div>{{tags}}</div>
{{view "select" content=platforms selection=platform optionLabelPath="content.name" optionValuePath="content.id"}}
<button {{action "save"}}>Save</button>

